/*
* Theme Name: First Theme
* Author: Mehboob Shaikh
* Author URI: https://www.twitter.com/mehboob_siraj
* Version: 1.0
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* ================= Common ====================== */

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  font-family: sans-serif;
}

/* ==================================== Header Section ================================== */


header {
  width: 100%;
  margin-bottom: 20px;
  opacity: 0.9;
  z-index: 1;
}

header > .wrapper {
  width: 96%;
  margin: 0 2%;
  margin-top: 20px;
}

h1, ul > li, nav {
  display: inline-block;
}

h1 img {
  width: 100px;
}

img.social-icon{
  width: 20px;
}

nav.primary-nav{
  width: calc(100% - 110px);
  vertical-align: middle;
}

ul.social-menu {
  width: 15%;
  padding-left: 10px;
  float: left;
}

ul.menu-pages {
  width: 80%;
  float: right;
  text-align: right;
}

ul.menu-pages li, ul.social-menu li  {
  padding: 0 15px;
  text-transform: uppercase;
}

nav a {
  color: #333;
}

li.menu-item-active > a {
  color: #000;
  font-weight: bold;
}




/* Footer Section */

footer {
  width: 100%;
  padding: 50px 0;
  background-color: #111d43;
}
footer ul.wrapper {
  width: 96%;
  margin: 0 2%;
}

ul.footer-menu a {
  color: #fff;
  font-size: 18px;
}

footer > ul > li {
  width: 20%;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

ul.footer-menu li {
  padding-bottom: 15px;
  display: block;
}

footer img.social-icon {
  width: 25px;
}

ul.footer-social-menu li {
  padding-right: 15px;
}

/* Message Box */

footer > ul > li:last-child {
  width: 35%;
}
div.message-box span{ 
  padding-bottom: 10px;
  display: block;
  color: #fff;
}
span.message-box-heading {
  font-size: 35px;
  text-transform: uppercase;
}
input[type=email] {
  width: 55%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  font-size: 18px;
  background: transparent;
}
div.message-box figure {
  padding-left: 10px;
  display: inline-block;
} 

/* Special Section */

section.special {
  margin: 1% 0;
}

ul.promotion-boats {
  width: 96%;
  margin: 1% 2%;
}
ul.promotion-boats img {
  width: 250px;
  /*height: 500px;*/
}
ul.promotion-boats li {
  width: 250px;
  padding: 5px 20px;
  display: inline-block;
  vertical-align: top;
}
ul.promotion-boats li:first-child {
  padding-left: 0;
}

/* Client Section */

div.clients {
  /*width: 100%;*/
  margin: 1% 0;
}
